<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>

      <%= @player1 %> attacked <%= @player2 %>
      <br></br>
       <%= @player2 %> now has: <%= @p2_health %>/100HP

       <form action="/play">
         <input type="submit" value="Keep playing">
       </form>

    </body>
  </html>
