<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% if @game.player1.dead? %>
	<% @game.player1.player_name%> 
<% elsif @game.player2.dead? %>
	<% @game.player2.player_name%> 
<% end %> 
loses.
</body>
</html>