<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>

      <%= @player1 %> <%= @p1_health %>/100HP
       vs.
        <br></br>
        <%= @player2 %> <%= @p2_health %>/100HP

      <form action="/attack">
        <input type="submit" value="Attack">
      </form>

    </body>
  </html>
